{% extends 'base_ss.html' %}

{% load crispy_forms_tags %}

{% block content %}

{{ form.media.js }}
{{ form.media.js }}

  <form method="post" novalidate>
    {% csrf_token %}
   
    <div class="row">
      
      <div class="col-md-4">
        {{ form.apellido1|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.apellido2|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.nombres|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.curp|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.rfc|as_crispy_field }}
      </div>
      <div class="alert alert-info col-md-12">
      <h4> Especifique área donde se realizará el Servicio Social </h4>
      <div class="col-md-12">
        {{ form.areaInterna|as_crispy_field }}
      </div>
       <div class="col-md-12" >
        {{ form.cat_area_org|as_crispy_field }}
      </div>
      </div>
    </div>
      
     <!--  -->
      <div style="display:none">
        <div class="col-md-4">
          {{ form.puesto|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ form.cat_contratacion|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ form.fecha_ingreso|as_crispy_field }}
        </div>
        <div class="alert alert-info col-md-8">
            {{ form.email_institucional|as_crispy_field }}
        </div>
      </div>
    <div class="row">
      <div class="col-md-6">
        {{ form.nombre_via|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.num_exterior|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.num_interior|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.cat_tipo_via|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.colonia|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{ form.cat_entidades_federativas|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.municipio|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.cp|as_crispy_field }}
      </div>
    </div>
    <div class="row">  
      <div class="col-md-6">
        {{ form.email_personal|as_crispy_field }}
      </div> 
      <div class="col-md-4">
        {{  sersoc_form.tipo_sangre|as_crispy_field }}
      </div> 
      <div class="col-md-4">
        {{ form.telefono1|as_crispy_field }}
      </div> 
      <div class="col-md-4">
        {{ form.telefono2|as_crispy_field }}
      </div> 
    </div>
    <div class="row">  
      <div class="col-md-6">
        {{ form.emergencia_contacto|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.emergencia_cat_relacion|as_crispy_field }}
      </div>
       
      <div class="col-md-3">
        {{ form.emergencia_telefono|as_crispy_field }}
      </div> 
      
    </div>
   
    <div class="row">  
      <div class="col-md-12">
        {{ sersoc_form.escuela_procedencia|as_crispy_field }}
      </div>
       <div class="col-md-6">
        {{ sersoc_form.carrera|as_crispy_field }}
      </div> 
      <div class="col-md-12">
        {{ sersoc_form.escuela_domicilio|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ sersoc_form.creditos_cursados|as_crispy_field }}
      </div> 
       <div class="col-md-6">
        {{ sersoc_form.numero_matricula|as_crispy_field }}
      </div>   
       <div class="col-md-6">
        {{ sersoc_form.telefono_escuela|as_crispy_field }}
      </div> 
       <div class="col-md-6">
        {{ sersoc_form.telefono_ext_escuela|as_crispy_field }}
      </div> 
    </div>
    
    <div class="row">  
      <div class="col-md-6">
        {{ sersoc_form.periodo|as_crispy_field }}
      </div>
       <div class="col-md-6">
        {{ sersoc_form.horario|as_crispy_field }}
      </div>
       <div class="col-md-6">
        {{ sersoc_form.description|as_crispy_field }}
      </div>
    </div>
    {% if person.pk %}
    <div id="file-manager">
      <p>
        <a id="{{person.pk}}" name="{{person.matricula}}" class="btn btn-primary remplazarDocumento" data-toggle="modal" data-target="#myModal">Cargar Archivo</a>
       </p>
      <table class="table table-bordered" id="documentos">
        <thead>
          <tr>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
            <tr>
              <td>
                {{ file.nombre }}
              </td>
              <td>
                {% for key, value in file.metadatos.items %}
                  {% if key == 'webUrl' %}
                  <a href="{{ value }}" target="_blank" class="btn btn-primary">Consultar Documento</a>
                  {% endif %}
                {% endfor %}
                <button class="btn btn-danger delete-file" data-file-id="{{ file.pk }}">Eliminar</button>
              </td>
            </tr>
          {% empty %}
            <tr class="table-active">
              <td colspan="3">No hay archivos cargados</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
      <div class="row" >
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <h5><i class="fa fa-video"></i>Fotografía</h5>
              <input type="hidden" name="fotografia" id="id_fotografia">
                                        <button id="snap" type="button" class="btn btn-warning"><i class="fa fa-camera"></i> Tomar fotografía
                                        </button>
                                        
             <div style="display:none"> {{ form.imagen_base64 }}</div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" >
       <div class="col-md-6">
            <img src="{{ form.imagen_base64.value }}" />
          </div>
      </br>
        <div class="col-md-6">
              <video id="video" width="640" height="480" autoplay></video>
          </div>
         
          <div class="col-md-12">

          <canvas id="canvas" width="640" height="480" style="margin-left: 40px"></canvas>



          </div>


          <div class="col-md-4"></div>

          <div class="col-md-4">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
      </div>

      
    </br>
    
</form>

<div class="modal fade"  id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adjuntar documentación</h4>
      </div>
      <div class="modal-body">
        <form id="data" method="post" enctype="multipart/form-data">
        <!--<form action="{% url 'save_capacitacion_persona' %}" method="post" enctype="multipart/form-data">-->
          {% csrf_token %}
          <div class="col-md-12">
            <div style="display:none"> 
              <input type="text" id="pk" name="pk"/>
              <input type="text" id="matricula" name="matricula" value="{{person.matricula}}"/>
            </div>
                <h4 id="cursoDocumento"></h4>
              <input type="file" name="myfile" placeholder="Cargue documento del estudiante" accept="dcoument/pdf">
              <hr>
         </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_btn">Cerrar</button>
            <button type="submit" id="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>   
          
        <div class="form-group">
          <div class="alert alert-success" id="ins_success" style="display:none">
        </div>
        <div class="alert alert-danger" id="ins_error" style="display:none">

        </div>
         
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

const downloadLink = document.getElementById('save');
let mediaRecorder;

//Toma de fotografías
let shouldStop = false;
let stopped = false;
let recordedChunks;


var video = document.getElementById('video');
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');     
  

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      //console.log("Something went wrong!");
    });
}

document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
        $("#id_imagen_base64").val(canvas.toDataURL("image/jpg"))
        return false;
    });
 
    $("form#data").submit(function(e) {
      e.preventDefault();    
      var formData = new FormData(this);
  
      $.ajax({
          url: "{% url 'save_file_ss' %}",
          type: 'POST',
          data: formData,
          cache: false,
          contentType: false,
          processData: false
      }).done(function(response){
          if(response['error']==false){
              $("#ins_error").hide();
              $("#ins_success").text(response['errorMessage']);
              $("#ins_success").show();
              $("#documentos tbody").append(response['documento']);
          }
          else{
              $("#ins_success").hide();
              $("#ins_error").text(response['errorMessage']);
              $("#ins_error").show();
          }
      })
      .fail(function(){
            $("#ins_success").hide();
            $("#ins_error").text("Something Went Wrong!");
            $("#ins_error").show();
      })
      setTimeout(() => {
            $("#ins_success").hide();
            $("#ins_error").hide();
            $("#myfile").val();  
          }, 2000);
  });

  $('#documentos').on('click', '.delete-file', function() {
        if (confirm('¿Estás seguro de que deseas eliminar este archivo?')) {
          const fileId = this.getAttribute('data-file-id');
            $(this).closest('tr').remove();
          $.ajax({
          url: "{% url 'delete_file_ss' %}",
          type: 'POST',
          data: {id:fileId},
      }).done(function(response){
          if(response['error']==false){
              $("#ins_error").hide();
              $("#ins_success").text(response['errorMessage']);
              $("#ins_success").show();
          }
          else{
              $("#ins_success").hide();
              $("#ins_error").text(response['errorMessage']);
              $("#ins_error").show();
          }
      })
      .fail(function(){
            $("#ins_success").hide();
            $("#ins_error").text("Something Went Wrong!");
            $("#ins_error").show();
      })
      setTimeout(() => {
            $("#ins_success").hide();
            $("#ins_error").hide();
            $("#myfile").val();  
          }, 2000);
        }
    });

    </script>

    
{% endblock %}

