
{% block content %}
 <table class="table table-bordered" id="bajasList">
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Días Economicos</th>
        <th> {{ periodo1 }}</th>
        <th> {{ periodo2 }}</th>
        <th>Días Extra disponibles</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td style="display:none" > {{person.matricula}}</td>
          <td>{{ person.matricula }}</td>
          <td>{{ person.nombre }} </td>
          <td>{{person.eco}}</td>
          <td>{{person.vaca1}}</td>
          <td>{{person.vaca2}}</td>
          <td>{{person.extra}}</td>
           <td><button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" type="button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Agregar Vacaciones </button>
           <button class="btn btn-default btn-xs consultar" data-toggle="modal" data-target="#Consulta" type="button" >
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Consultar Vacaciones </button></td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}