
{% extends 'base.html' %}
{% block content %}
<div class="container">
 
<form method="get">
   <div class="col-md-12">
    <div class="col-md-3">
    <p>
      <input name ="q" id="searchAyuda" value="{{request.GET.q}}" placeholder="Buscar persona..">
    </p>  
    </div>
  </div>  
 </form>
  <div class="col-md-12">
    <div class="col-md-6">
      <p>
       <a class="btn btn-primary" id="insert_btn"  data-toggle="modal" data-target="#myModal">Agregar Empleado a Ayudas</a>
      </p>
    </div>
     <div class="col-md-6"> 
       <p>
       <button type="button" class="btn btn-danger" id="print-all" >Imprimir Ayudas</button>
      </p>
    </div>
  </div>
  <div class="col-md-12">
   
  
  <div class="col-md-6"> 
      
    </div>
  </div>
  <div id="listaPersonas"></div>
    
  <div id="RowsSearch"></div>
<div class ="col-md-12" id="RowsInicio">
  <table class="table table-bordered" id="bajasList">
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Monto por día</th>
        
      </tr>
    </thead>
    <tbody>
      {% for persona in personaayuda %}
        <tr>
          <td style="display:none" > {{persona.pk}}</td>
          <td>{{ persona.info_person.matricula }}</td>
          <td>{{ persona.info_person.nombres  }} {{ persona.info_person.apellido1  }} {{ persona.info_person.apellido2 }}</td>
          <td>{{persona.montoXDia }}</td>
          <td><button class="btn btn-default btn-xs eliminar" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar ayuda </button></td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="Pages"> 
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    
    {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span>     </span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
 
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
      </ul>
    {% endif %}
  </div>
    <div class="modal fade"  id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Alta de Empleado a Ayudas</h4>
          </div>
          <div class="modal-body">
                <div class="col-md-12">
                <h4> Monto de ayuda por día </h4>
                  <input name="monto" id="monto" class="decimales" placeholder="Indique el monto..">
                <hr>
               </div> 
             
              
               <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_btn">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
          <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">

              </div>
          <div class="col-md-3">
                  <input name ="person" id="searchPerson" placeholder="Buscar empleado..">
                </div>   
          </div>  
                <div class="table">
                  <table class="table" id="persona_buscado">
                      <thead>
                      <tr>
                          <th>Matricula</th>
                          <th>Nombre</th>
                      </tr>
                      </thead>
                      <tbody>
                      </tbody>
                  </table>
              </div>
          </div>
         
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="row">
  <div class="col-lg-12">
        <div class="alert alert-success" id="upt_success" style="display:none">

        </div>
         <div class="alert alert-danger" id="upt_error" style="display:none">

        </div>
  </div>
</div>
   


<script>
$('.decimales').on('input', function () {
  this.value = this.value.replace(/[^0-9,.]/g, '').replace(/,/g, '.');
});

  
function doSearch() {
                var tableReg = document.getElementById('persona_buscado');
                var searchText = document.getElementById('searchPerson').value.toLowerCase();
                //console.log(tableReg);
                for (var i = 1; i < tableReg.rows.length ; i++) {
                    var cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                    var found = false;
                    for (var j = 0; j < cellsOfRow.length && !found; j++) {
                        var compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                        if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                            found = true;
                        }
                    }
                    if (found) {
                        tableReg.rows[i].style.display = '';
                    } else {
                        tableReg.rows[i].style.display = 'none';
                    }
                }
            }

document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
        
      }))
    });

    $('#searchPerson').keyup(function(e){
       doSearch();
   
});

$('#searchAyuda').keyup(function(e){
  clearTimeout($.data(this, 'timer'));
  if($("#searchAyuda").val()==""){
      $("#RowsSearch").hide();
      $("#RowsInicio").show();
      $("#Pages").show();
      
    }
  else {
    $(this).data('timer', setTimeout(search, 500));
}


});
function search(force) {
  var existingString = $("#searchAyuda").val();
    if (!force && existingString.length < 3) return; 

$.ajax({
      url:"{% url 'search_person_ayuda' %}",
      type:'GET',
      data:{q:$("#searchAyuda").val()}
            })
    .done(function(response){
      $("#RowsSearch").show();
      $("#RowsInicio").hide();
      $("#Pages").hide();
      $("#RowsSearch").empty();
      $("#RowsSearch").append(response);
      console.log(response)
      })
    .fail(function(){
      $("#RowsSearch").hide();
      $("#RowsInicio").show();
      $("#Pages").show();
      })  
}                


$("#insert_btn").click(function(){
    if( $("#listaPersonas").val().length == 0)
    {
    $.ajax({
                url:"{% url 'get_PersonasAyuda' %}",
                type:'GET',
                beforeSend: function() {
                    $("#imgSpinner1").show();
                  },
                  complete: function() {
                    $("#imgSpinner1").hide();
                  },
                data:{}
            })
            .done(function(response){
                $("#persona_buscado tbody").append(response);
              
            })
    }
})

$("#close_btn").click(function(){
  $("#ins_success").hide();
  $("#ins_error").hide();

})

$(document).on("click",".glyphicon-plus",function(){
            var this_html=$(this);
            var id=this_html.parent().parent().parent().children().first().text();
            var compen =  $("#monto").val();
            console.log(id);
            console.log(compen);
            $.ajax({
                url:"{% url 'add_ayuda' %}",
                type:'POST',
                data:{id:id, monto:compen}
            })
            .done(function(response){
                if(response['error']==false){
                   this_html.parent().parent().parent().remove();
                    $("#ins_error").hide();
                    $("#ins_success").text(response['errorMessage']);
                    $("#ins_success").show();
                    var html_data="<tr><td style='display:none'> "+response['id']+"</td>  <td>"+response['matricula']+"</td><td>" +response['nombre'] + "</td><td>"+ response['monto']+ " </td> <td><button class='btn btn-default btn-xs eliminar' type='button'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Eliminar ayuda </button></td>   </tr>";
                    $("#bajasList  tbody").append(html_data);
                }
                else{
                    $("#ins_success").hide();
                    $("#ins_error").text(response['errorMessage']);
                    if(response['message']==true){
                      alert(response['errorMessage']+' para '+texto[0] ) ;
                    }
                    $("#ins_error").show();
                }
            })
            .fail(function(){
                 $("#ins_success").hide();
                 $("#ins_error").text("Something Went Wrong!");
                 $("#ins_error").show();
            })
            setTimeout(() => {
                  $("#ins_success").hide();
                  $("#ins_error").hide();  
                }, 2000);
	         
    });

$(document).on("click",".eliminar",function(){
            var this_html=$(this);
            var empleado = this_html.parent().parent().children().eq(2).text()
            var id =this_html.parent().parent().children().eq(0).text()
            console.log(this_html.parent().parent().children().eq(0).text())
            var opcion = confirm("Se va a eliminar la ayuda registrada al empleado: "+ empleado +". ¿Es correcto?");
            if (opcion == true) {

            $.ajax({
                url:"{% url 'delete_ayuda' %}",
                type:'POST',
                data:{id:id}
            })
            .done(function(response){
                if(response['error']==false){
                    this_html.parent().parent().remove();
                    var id = response['compensacion'];
                    console.log(id);
                    var texto =  $("#compensacion option[value="+id +"]").text().split("(");
                    var numero = texto[1].split(")");
                    var number = numero[0];
                    var iNum = parseInt(number);
                    iNum = iNum + 1;
                    $("#compensacion option[value="+id +"]").text(texto[0]+"("+ iNum +")" );
                   
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
               
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            });
             setTimeout(() => {
                  $("#upt_success").hide();
                  $("#upt_error").hide();  
                }, 2000);
          }
        });


$("#print-all").click(function(){
  console.log(":S");
  var respFolio = getInteger();
  //var input1 = $('#input1').val();
  //var input2 = $('#input2').val();
  //window.open( "print/"+ input1.replaceAll('/', '-')+"/"+ input2.replaceAll('/', '-') , '_blank');
  var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            console.log(input1);
            console.log(input2);
            if (input1 == "") {
              alert("Seleccione una Fecha de Inicio");
              $('#input1').focus();
            }
            else{
              norango=false;
              if(input2==""){
                //window.location.href = "detalle/"+id.trim()+"/"+ input1.replaceAll('/', '-') ;
              }
              else
              {
                window.open( "print/"+ input1.replaceAll('/', '-')+"/"+ input2.replaceAll('/', '-')+"/"+respFolio , '_blank');
                }
            
            }
});





$("#print-area").click(function(){
  console.log(":S");
  //var input1 = $('#input1').val();
  //var input2 = $('#input2').val();
  //window.open( "print/"+ input1.replaceAll('/', '-')+"/"+ input2.replaceAll('/', '-') , '_blank');
  var respFolio = getInteger();
  var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            console.log(input1);
            console.log(input2);
            if (input1 == "") {
              alert("Seleccione una Fecha de Inicio");
              $('#input1').focus();
            }
            else{
              norango=false;
              if(input2==""){
                //window.location.href = "detalle/"+id.trim()+"/"+ input1.replaceAll('/', '-') ;
              }
              else
              {
                window.open( "printarea/"+ input1.replaceAll('/', '-')+"/"+ input2.replaceAll('/', '-')+"/"+respFolio  , '_blank');
                }
            
            }
});


</script>

{% endblock %}