{% load qr_code %}
{% load customfilter %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    .id-card {
        width: 3in;
        height: 52vh;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
    }
    
    #card-qr,
    #card-avatar {
        width: 9rem;
        height: 9rem;
    }
</style>
<div class="container-fluid" id="id-card">
    <div class="d-flex mb-3">
        <div class="px-2">
            <div class="id-card">
                <div class="head-text text-center fw-bolder">{{system_name}}</div>
                <div class="d-flex w-100 justify-content-center my-4">
                    <img src="{% if employee.avatar %}{{employee.avatar.url}}{% endif %}" id="card-avatar" class="img-thumbnail" alt="">
                </div>
                <div class="lh-1">
                    <div class="text-center fw-bold">{{ employee.name }}</div>
                    <div class="text-center fw-light text-sm">{{ employee.department }}</div>
                    <div class="text-center fw-light text-sm">{{ employee.position }}</div>
                </div>
                <div class="lh-1 text-center">
                    <img src="{% qr_url_from_text employee.matricula size=5 version=1 image_format='png' %}" id="card-qr" alt="QR con Matricula y foto">
                    <!-- {% with image_data=employee.avatar.read %}
                        {% with image_base64=image_data|base64_encode %}
                            {% with image_src="data:image/png;base64,"|add:image_base64 %}
                                {{ image_src}}
                                <img src="{{ image_src }}" alt="Imagen del empleado" id="employee-avatar">
                            {% endwith %}
                        {% endwith %}
                    {% endwith %} -->
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="id-card">
                <div class="lh-1">
                    <dl>
                        <dt>Código de visitante</dt>
                        <dd>{{employee.employee_code}}</dd>
                        {% comment %} <dt class="mt-3">Matrícula</dt>
                        <dd>{{employee.matricula}}</dd> {% endcomment %}
                        <dt class="mt-3">Área a visitar</dt>
                        <dd>{{employee.department}}</dd>
                        {% comment %} <dt class="mt-3">Motivo de visita</dt>
                        <dd>{{employee.tipo}}</dd> {% endcomment %}
                        <dt class="mt-3">Fecha y hora de ingreso</dt>
                        <dd>{{ employee.date_created|date:"M d, Y H:i" }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<noscript id="qr-style">
<style>
    * {
        font-size: 12px;
    }
    * small {
        font-size: 10px;
    }
    .id-card {
        width: 2.11in;
        height: 3.38in;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
        border-radius: 5px;
    }
    #card-avatar {
        width: 1in;
        height: 1in;
    }
    #card-qr {
        width: .7in;
        height: .7in;
    }
</style>
</noscript>
<script>
    $(function() {

    })
</script>