{% extends 'base.html' %}

{% load crispy_forms_tags %}


 
{% block content %}

{{ form.media.js }}
{{ form.media.js }}
  <form method="post" novalidate>
    {% csrf_token %}
    
    <div class="row">
      <div class="col-md-4">
        {{ form.nombres|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.apellido1|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.apellido2|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.curp|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.rfc|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.cat_contratacion|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.areaInterna|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.cat_area_org|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.puesto|as_crispy_field }}
      </div>
     
      <div class="col-md-4">
        {{ form.fecha_ingreso|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.cat_nombramiento|as_crispy_field }}
      </div>
      
     
    </div>
    <div class="row">
      <div class="col-md-4  alert alert-info">
          {{ form.cat_horario|as_crispy_field }}
      </div>
       <div class="col-md-4 alert alert-info">
          {{ form.horario_finde|as_crispy_field }}
      </div>
     
     
    </div>
    <div class="row">
      <div class="alert alert-info col-md-8">
          {{ form.email_institucional|as_crispy_field }}
      </div>
      <div class="alert alert-info col-md-4">
        {{ form.extension_telefonica|as_crispy_field }}
    </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        {{ form.cat_entidades_federativas|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.municipio|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.cp|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.colonia|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.nombre_via|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.num_exterior|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {{ form.num_interior|as_crispy_field }}
      </div>
     
      <div class="col-md-3">
        {{ form.cat_tipo_via|as_crispy_field }}
      </div>
    </div>
    <div class="row">  
      <div class="col-md-4">
        {{ form.email_personal|as_crispy_field }}
      </div> 
      <div class="col-md-4">
        {{ form.telefono1|as_crispy_field }}
      </div> 
      <div class="col-md-4">
        {{ form.telefono2|as_crispy_field }}
      </div> 
    </div>
    <div class="row">  
      <div class="col-md-6">
        {{ form.emergencia_contacto|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.emergencia_cat_relacion|as_crispy_field }}
      </div>
       
      <div class="col-md-6">
        {{ form.emergencia_telefono|as_crispy_field }}
      </div> 
      
    </div>
    
      <div class="row" >
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <h5><i class="fa fa-video"></i>Fotografía</h5>
              <input type="hidden" name="fotografia" id="id_fotografia">
                                        <button id="snap" type="button" class="btn btn-warning"><i class="fa fa-camera"></i> Tomar fotografía
                                        </button>
                                        
              <div style="display:none"> {{ form.imagen_base64 }}</div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" >
      </br>
        <div class="col-md-6">
              <video id="video" width="640" height="480" autoplay></video>
          </div>
          <div class="col-md-12">

          <canvas id="canvas" width="640" height="480" style="margin-left: 40px"></canvas>



          </div>


          <div class="col-md-4"></div>

          <div class="col-md-4">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
      </div>

      
    </br>

  </form>

    <script>

const downloadLink = document.getElementById('save');
let mediaRecorder;

//Toma de fotografías
let shouldStop = false;
let stopped = false;
let recordedChunks;


var video = document.getElementById('video');
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');     
  

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      //console.log("Something went wrong!");
    });
}


document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
        $("#id_imagen_base64").val(canvas.toDataURL("image/jpg"))
        return false;
    });


    </script>
{% endblock %}

