{% block content %}
    <h3> Cursos entregados </h3> 
  {% for curso in entregadas %}
            
  <div class="card" style="width: 18rem;">
    <img src="{{ curso.curso_tomado__imagen_base64 }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ curso.curso_tomado__nombre }}</h5>
      {% for key, value in curso.metadatos.items %}
         {% if key == 'webUrl' %}
          <a href="{{ value }}" target="_blank" class="btn btn-primary">Consultar Evidencia</a>
          {% endif %}
      {% endfor %}
        {% if curso.aprobado == 0 %}
        <h6> En verificación </h6>
        {% elif curso.aprobado == 2 %}
        <h6> Aceptado </h6>
        {% endif %}
    </div>
  </div>
  {% empty %}
    <tr class="table-active">
      <td colspan="3">No hay cursos entregados aún</td>
    </tr>
  {% endfor %}
  
{% endblock %}